{% load static %}            
<article class="masonry-grid-item">
              <div class="card">
                  <a class="blog-entry-thumb" href="{% url 'single_view' slug=post.slug %}">
                      <img class="card-img-top" src="{% static 'images/featured/'|add:post.image %}" alt="Post_title">
                  </a>
                <div class="card-body">
                  <h2 class="h6 blog-entry-title">
                      <a href="{% url 'single_view' slug=post.slug %}">{{ post.title }}</a></h2>
                  <p class="fs-sm">{{ post.short_description }}</p>
                </div>
                <div class="card-footer d-flex align-items-center fs-xs"><a class="blog-entry-meta-link" href="#">
                    <div class="blog-entry-author-ava"><img src="{% static 'images/meta/01.jpg' %} " alt="رافائل مارکز"></div>رافائل مارکز</a>
                  <div class="ms-auto text-nowrap"><a class="blog-entry-meta-link text-nowrap" href="#">25 تیر</a><span class="blog-entry-meta-divider mx-2"></span><a class="blog-entry-meta-link text-nowrap" href="blog-single.html#comments"><i class="">
                      <img src="{% static 'images/icons8-comment-24.png' %}"  alt="#">
                  </i>8</a></div>
                </div>
              </div>
            </article>
