{% extends 'base.html' %}
{% load static %}
{% block page_title %}
 blog single
{% endblock page_title %}


{% block content %}

<div class="container pb-5">
        <div class="row justify-content-center pt-5 mt-md-2">
          <div class="col-lg-9">
            <!-- Post meta-->
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4 mt-n1">
              <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link" href="#">
                  <div class="blog-entry-author-ava"><img src="{% static 'images/meta/'|add:post.image %}" alt="رافائل مارکز"></div>رافائل مارکز</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">11 مهر</a></div>
              <div class="fs-sm mb-2"><a class="blog-entry-meta-link text-nowrap" href="#comments" data-scroll><i class=""></i>3</a></div>
            </div>
            <!-- Gallery-->
            <div class="gallery row pb-2">
              <div class="col-sm-8"><a class="gallery-item rounded-3 mb-grid-gutter" href="{% static 'images/single/'|add:post.image %}" >
                  <img src="{% static 'images/single/'|add:post.image %}" alt="Gallery image"><span class="gallery-item-caption">زیرنویس تصویر گالری #1</span></a></div>
              <div class="col-sm-4"><a class="gallery-item rounded-3 mb-grid-gutter" href="{% static 'images/single/'|add:post.image %}" >
                  <img src="{% static 'images/single/'|add:post.image %}" alt="Gallery image"><span class="gallery-item-caption">زیرنویس تصویر گالری #2</span></a><a class="gallery-item rounded-3 mb-grid-gutter" href="{% static 'images/single/'|add:post.image %}" >
                  <img src="{% static 'images/single/'|add:post.image %}" alt="Gallery image"><span class="gallery-item-caption">زیرنویس تصویر گالری #3</span></a></div>
            </div>
            <!-- Post content-->
              <a>{{ post.title }}</a>
              <p> {{ post.content }}</p>
            


            <!-- Comments-->
            <div class="pt-2 mt-5" id="comments">
              <h2 class="h4">نظرات<span class="badge bg-secondary fs-sm text-body align-middle ms-2">3</span></h2>
              <!-- comment-->
              <div class="d-flex align-items-start py-4 border-bottom"><img class="rounded-circle" src="{% static 'images/meta/02.jpg' %}" width="50" alt="مایکل دیویس">
                <div class="ps-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="fs-md mb-0">مایکل دیویس</h6><a class="nav-link-style fs-sm fw-medium" href="#"><i class="ci-reply me-2"></i>پاسخ</a>
                  </div>
                  <p class="fs-md mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>25 تیر 1400</span>
                  <!-- comment reply-->
                  <div class="d-flex align-items-start border-top pt-4 mt-4"><img class="rounded-circle" src="{% static 'images/meta/03.jpg' %}" width="50" alt="مایکل دیویس">
                    <div class="ps-3">
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <h6 class="fs-md mb-0">مایکل دیویس</h6>
                      </div>
                      <p class="fs-md mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>25 تیر 1400</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- comment-->
              <div class="d-flex align-items-start py-4"><img class="rounded-circle" src="{% static 'images/meta/05.jpg' %}" width="50" alt="جاناتان دوو">
                <div class="ps-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="fs-md mb-0">جاناتان دوو</h6><a class="nav-link-style fs-sm fw-medium" href="#"><i class="ci-reply me-2"></i>پاسخ</a>
                  </div>
                  <p class="fs-md mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p><span class="fs-ms text-muted"><i class="ci-time align-middle me-2"></i>25 تیر 1400</span>
                </div>
              </div>
              <!-- ارسال نظر form-->
              <div class="card border-0 shadow mt-2 mb-4">
                <div class="card-body">
                  <div class="d-flex align-items-start"><img class="rounded-circle" src="{% static 'images/meta/03.jpg' %}" width="50" alt="مایکل دیویس">
                    <form class="w-100 needs-validation ms-3" novalidate>
                      <div class="mb-3">
                        <textarea class="form-control" rows="4" placeholder="نظر بنویسید ..." required></textarea>
                        <div class="invalid-feedback">نظر بنویسید ...</div>
                      </div>
                      <button class="btn btn-primary btn-sm" type="submit">ارسال نظر</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Related posts-->
<div class="bg-secondary py-5">
        <div class="container py-3">
          <h2 class="h4 text-center pb-4">ممکن است دوست داشته باشید</h2>
          <div class="tns-carousel ltr">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 20},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 30}}}">
              <!-- article-->
              <article class="rtl" ><a class="blog-entry-thumb mb-3" href="#"><img src="img/blog/03.jpg" alt="Post"></a>
                <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link" href="#"> رافائل مارکز</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">25 مهر</a></div>
                <h3 class="h6 blog-entry-title"><a href="#">سفر جهانی و تعطیلات با بودجه ای تنگ</a></h3>
              </article>
              <!-- article-->
              <article class="rtl" ><a class="blog-entry-thumb mb-3" href="#"><img src="img/blog/04.jpg" alt="Post"></a>
                <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link" href="#"> رافائل مارکز</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">25 مهر</a></div>
                <h3 class="h6 blog-entry-title"><a href="#">سفر جهانی و تعطیلات با بودجه ای تنگ</a></h3>
              </article>
              <!-- article-->
              <article class="rtl" ><a class="blog-entry-thumb mb-3" href="#"><img src="img/blog/02.jpg" alt="Post"></a>
                <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link" href="#"> رافائل مارکز</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">25 مهر</a></div>
                <h3 class="h6 blog-entry-title"><a href="#">سفر جهانی و تعطیلات با بودجه ای تنگ</a></h3>
              </article>
              <!-- article-->
              <article class="rtl" ><a class="blog-entry-thumb mb-3" href="#"><img src="img/blog/01.jpg" alt="Post"></a>
                <div class="d-flex align-items-center fs-sm mb-2"><a class="blog-entry-meta-link" href="#"> رافائل مارکز</a><span class="blog-entry-meta-divider"></span><a class="blog-entry-meta-link" href="#">25 مهر</a></div>
                <h3 class="h6 blog-entry-title"><a href="#">سفر جهانی و تعطیلات با بودجه ای تنگ</a></h3>
              </article>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}